body {
  background-color: #f5f5f5;
  font-family: system-ui, sans-serif;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#game-container {
  font-size: 40px;
}

p {
  text-align: justify;
}

img {
  max-width: 80%;
  max-height: auto;
}

#post-container {
  border-style: solid;
  border: 2px solid #000;
  border-radius: 4px;
  margin-top:20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #e0dede;
}

#post-header {
  margin-bottom: 30px;
  overflow: auto; 
  background-color: #aacfcf;
}

#post-content {
  text-align: center;
}

#image-display {
  width: 50%;
  border-radius: 40px;
}

#dogname-display {
  float: left;
  margin:10px;
}

#date-display {
  float: right;
  margin:10px;
}

#comment-display {
  margin: 10px;
}
